@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Open+Sans&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #3f5a47;
}

/*Card para vendedores*/
.card-vendedores {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.datos-vendedores {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.datos-vendedores caption {
  font-family: "Playfair Display", serif;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.datos-vendedores thead {
  color: var(--blanco);
}

.datos-vendedores th,
.datos-vendedores td {
  padding: 15px;
  text-align: left;
  font-size: 1em;
  border-bottom: 1px solid var(--acento);
  background-color: var(--verde-claro);
  color: var(--texto);
}

.datos-vendedores tbody tr:nth-child(even) {
  background-color: var(--acento);
}

.datos-vendedores img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin: 0 auto 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.fa-arrow-left {
  background-color: #c2a65a;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  left: 1.5%;
  cursor: pointer;
  color: #fff;
}